<div class="container">
    <header class="d-flex justify-content-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <i class="bi bi-car-front-fill fs-1 me-3"></i>
        <span class="fs-4">Super Luxury Car Rental</span>
      </a>

      <div class="d-flex flex-column">
        <button class="btn btn-warning" (click)="countClick()">Donate 10€</button>
        <p>You have donated {{ count }} Euro! Thank you!</p>

      </div>
    </header>
  </div>