@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

#VIP {
    margin: 0px;
    font-size: 40px;
    background-image: linear-gradient(80deg,rgb(227, 229, 202),rgb(124, 132, 41),rgb(227, 229, 202));
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'black ops one';
}

#donateContainer {
    width: 300px;
}

#donateContainer > p {
    padding: 0px;
    margin: 0px;
}