
<div class="container">
    <div class="d-flex flex-wrap">
        <div *ngFor="let val of cars; index as i">
            <div class="myCard d-flex flex-column justify-content-between">
                <img src="{{ val.image }}" alt="picture of {{ val.type}}">
                <div>
                    <p class="h5">Car Number: {{ i + 1}}</p>
                    <p class="h3">Type of car: {{ val.type }}</p>
                    <p class="h4">Year of production: {{ val.year }}</p>
                </div>
            </div>
        </div>

        <div class="myCard">
            <form [formGroup]="info" (ngSubmit)="onSubmitForMyForm()">
                <table class="table">
                    <tr>
                        <td><label for="type">Car type: </label></td>
                    </tr>
                    <tr>
                        <td class="px-2"><input id="type" type="text" formControlName="type" class="mx-2 w-100" class="w-100"></td>
                    </tr>
                    <tr>
                        <td><label for="year">Year of production: </label></td>
                    </tr>
                    <tr>
                        <td class="px-2"><input id="year" type="number" formControlName="year" class="w-100"> </td>
                    </tr>
                    <tr>
                        <td><label for="image">Image URL: </label></td>
                    </tr>
                    <tr>
                        <td class="px-2"><input id="image" type="email" formControlName="image" class="w-100"></td>
                    </tr>
                    <tr>
                        <td class="px-2"><button type="submit" class="btn btn-success mt-3">Add car</button></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</div>
<div class="container py-5">
    <p class="mt-5">
        <small>./assets/images/ford.jpg</small><br>
        <small>./assets/images/maserati.jpg</small><br>
        <small>./assets/images/mercedes.jpg</small><br>
        <small>https://cdn.pixabay.com/photo/2015/05/28/23/12/auto-788747_1280.jpg</small><br>
    </p>
</div>

